<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>

<p>
  <strong>N°Scene:</strong>
  <%= @personne.scene_id %>
</p>

<%= link_to 'Editer', edit_personne_path(@personne) %> |
<%= link_to 'Retour', personnes_path %>
