<%= form_for(@chpaitre) do |f| %>
  <% if @chpaitre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chpaitre.errors.count, "error") %> prohibited this chpaitre from being saved:</h2>

      <ul>
      <% @chpaitre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
