<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chpaitre.name %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @chpaitre.numero %>
</p>

<%= link_to 'Edit', edit_chpaitre_path(@chpaitre) %> |
<%= link_to 'Back', chpaitres_path %>
