<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @scene.period %>
</p>

<p>
  <strong>Recit:</strong>
  <%= @scene.recit %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @scene.lieu %>
</p>

<p>
  <strong>Chapitre:</strong>
  <%= @scene.chapitre_id %>
</p>
<p>
  <strong>Personnages correspondants:</strong>
  <% @scene.personnes.each do |c| %>

 <p> <small>nom: </small><%= c.nom %>
  <% end %>

</p>

<%= link_to 'Editer', edit_scene_path(@scene) %> |
<%= link_to 'Retour', scenes_path %>
